[class*="page-container"] {
  background: yellow; 

}

nav, [class="top-nav"]{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
  transition: transform 0.3s ease-in-out;
}